
.vs/ProjectSettings.json
.vs/retroDAP/FileContentIndex/09530598-4495-4e1d-bb0b-d6abe22e979a.vsidx
.vs/retroDAP/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/retroDAP/FileContentIndex/97943a81-da1c-41e6-8b17-b22962da36e8.vsidx
.vs/retroDAP/FileContentIndex/7d3553f1-cbf4-4ae5-96d8-8cc42a7d3af1.vsidx
/.vs/retroDAP/FileContentIndex
